<% i ||= 0; i += 1   # define index for label; start at 1 %>

<div class="nested-fields">
  <div class="application-question field flex flex-row">
    <div class="label">
      <%= f.label :application_question_number, "Application Question ##{i}" %>
    </div>
    <div class="col-container flex flex-column">
      <div class="flexed flex-1">
        <div class="flex flex-row flex-space-between">
          <%= f.text_field :prompt,
            class: "input flexed flex-8",
            placeholder: 'Enter your application question here (for example, "Explain your financial need.")' %>
          <%= link_to_remove_association "X", f,
            class: "flexed flex-1 comment" %>
        </div>
      </div>
      <div class="flexed flex-1">
        <div class="flex flex-row flex-start flex-nowrap">
          <%= f.radio_button :answer_type,
            :short,
            checked: true,
            class: 'flexed flex-1'
          %>
          <%= f.label :answer_type,
            "This is a 'Short Answer' question",
            value: :short,
            class: 'flexed flex-6'
          %>
          <%= f.radio_button :answer_type, :long,
              class: 'flexed flex-1' %>
          <%= f.label :answer_type, "This is a 'Long Answer' question",
              value: :long, class: 'flexed flex-6' %>
        </div>
      </div>
    </div>
  </div>
</div>
