<div class="scholarship-page page-container">

  <p class="header">
    Scholarship Application Post
  </p>

  <div class="form-container">
    <div class="form-header">
      <%= content_for :form_header %>
    </div>

    <div class="form-body">
      <% submit_path ||= wizard_path %>

      <%= form_for @scholarship, url: submit_path do |f| %>
        <%= yield f %>

        <div class="actions">
          <% if !defined?(wizard_path) || (defined?(next_wizard_path) && step != wizard_steps.last) %>
            <%= f.submit "Save & Continue", class: "btn submit-btn" %>
          <% elsif defined?(next_wizard_path) && step == wizard_steps.last %>
            <%= f.submit "Finish", class: "btn submit-btn" %>
          <% end %>
          <% if defined?(previous_wizard_path) && step != wizard_steps.first %>
            <%= link_to 'Back', previous_wizard_path, class: "btn submit-btn-inverse" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
