<div class="row">
  <div class="field required">
    <%= f.label 'Scholarship Title' %>
    <%= f.text_field :title, required: true, class: "full" %>
  </div>
</div>

<div class="row">
  <div class="field required">
    <%= f.label :description %>
    <%= f.text_area :description, required: true, class: "full" %>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label :eligibility %>
    <%= f.text_area :description, class: "full" %>
  </div>
</div>

<div class="row">
  <div class="field ">
    <%= f.label 'Scholarship Photo' %>
    <div class="col-container">
      <div class="col">
        <%= f.file_field :photo, class: "upload-btn" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label 'Scholarship Cycle' %>
    <div class="col-container">
      <div class="col">
        <%= f.text_field :cycle_start, class: "", id: "cycle-start", placeholder: 'Start Date', value: @scholarship.cycle_start_str %>
      </div>
      <div class="col">
        <%= f.text_field :cycle_end, class: "", id: "cycle-end", placeholder: 'End Date', value: @scholarship.cycle_end_str %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label 'Award Amount' %>
    <div class="col-container">
      <div class="col">
        <%= f.number_field :award_amount, id: "award-amount", placeholder: '$ ' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label 'Minimum Age' %>
    <div class="col-container">
      <div class="col">
        <%= f.number_field :minimum_age, placeholder: 15 %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label 'Number of Awards' %>
    <div class="col-container">
      <div class="col">
        <%= f.number_field :number_of_awards, step: 1, min: 0, placeholder: 1 %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label 'Renewable?' %>
    <div class="col-container">
      <div class="col">
        <%= f.check_box :renewable %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label :gpa, 'Minimum GPA' %>
    <div class="col-container">
      <div class="col">
        <%= f.number_field :gpa, step: 0.01, placeholder: '0.0' %>
      </div>
      <div class="comment col">
        All GPAs are unweighted
      </div>
      <div class="comment col">
        Skip if you do not have a minimum GPA requirement
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label :min_scores, 'Minimum Composite Test Scores' %>
    <div class="col-container">
      <div class="col">
        <%= f.number_field :minimum_sat_score, placeholder: 'SAT Score' %>
      </div>
      <div class="col">
        <%= f.number_field :minimum_act_score, placeholder: 'ACT Score' %>
      </div>
      <div class="comment col">
        Skip if you do not have score requirements
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label :flexible_scores, 'Flexible on GPA and SAT scores?' %>
    <div class="col-container">
      <div class="col">
        <div class="half-col">
          <%= f.label 'Yes', class: "inline-label" %> <%= f.radio_button :flexible_scores, true %>
        </div>
        <div class="half-col">
          <%= f.label 'No', class: "inline-label" %>  <%= f.radio_button :flexible_scores, false %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label :generic_recommendation, "Accept Standard Recommendations?" %>
    <div class="col-container">
      <div class="col">
        <div class="half-col">
          <%= f.label 'Yes', class: "inline-label" %> <%= f.radio_button :generic_recommendation, true %>
        </div>
        <div class="half-col">
          <%= f.label 'No', class: "inline-label" %>  <%= f.radio_button :generic_recommendation, false %>
        </div>
      </div>
      <div class="comment col">
        Why Accept a Generic<br>Recommendation?
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label :minimum_recommendations, 'Number of Required Recommendations' %>
    <div class="col-container">
      <div class="col">
        <%= f.number_field :minimum_recommendations, placeholder: 0 %>
      </div>
      <div class="comment col">
        Skip if you do not require a recommendation
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#cycle-start').datetimepicker({
      format: 'L'
    });
    $('#cycle-end').datetimepicker({
      format: 'L'
    });
  });
</script>
