<% content_for :form_header do %>
  <p class="form-title">Who is this scholarship intended for?</p>
  <p class="form-subtitle">This helps us determine which students see your scholarship.</p>
  <p class="form-legend">* Required</p>
<% end %>

<%= render layout: 'form' do |f| %>
  <div class="row">
    <div class="field required">
      <%= f.label :eligibility %>
      <div class="col-container">
        <%= f.text_area :eligibility, required: true, class: "full", placeholder: 'Please enter your scholarship eligibility in written form.' %>
        <div class="row">
          <a href="">See Sample Eligibility Section</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row grow">
    <div class="field required">
      <%= f.label :school_year, 'School Year' %>
      <div class="col-container" id="sy-requirement">
        <div class="col-x15">
          <%= f.label :for_hs_freshman, 'High School Freshman', class: 'inline-label' %>
          <%= f.check_box :for_hs_freshman %>
          <br>
          <%= f.label :for_hs_junior, 'High School Junior', class: 'inline-label' %>
          <%= f.check_box :for_hs_junior %>
          <br>
          <%= f.label :for_hs_none, 'No School Year Requirement', class: 'inline-label' %>
          <%= f.check_box :for_hs_none %>
        </div>
        <div class="col-x15">
          <%= f.label :for_hs_sophomore, 'High School Sophomore', class: 'inline-label' %>
          <%= f.check_box :for_hs_sophomore %>
          <br>
          <%= f.label :for_hs_senior, 'High School Senior', class: 'inline-label' %>
          <%= f.check_box :for_hs_senior %>
          <br>
          <%= f.label :for_hs_collect, 'No School Year Requirement, but I want students to indicate for the purpose of data collection', class: 'inline-label' %>
          <%= f.check_box :for_hs_collect %>
        </div>
      </div>
    </div>
  </div>

  <div class="row grow">
    <div class="field required">
      <%= f.label :citizenship, 'U.S. Citizenship Status' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label :for_us_citizen, 'U.S. Citizen or U.S. National', class: 'inline-label' %>
          <%= f.check_box :for_us_citizen %>
          <br>
          <%= f.label :for_us_permanent, 'U.S. Permanent Resident', class: 'inline-label' %>
          <%= f.check_box :for_us_permanent %>
          <br>
          <%= f.label :for_us_other, 'Other (Non-US)', class: 'inline-label' %>
          <%= f.check_box :for_us_other %>
          <br>
          <%= f.label :for_us_collect, 'No Citizenship Requirement, but I want students to indicate for the purpose of data collection', class: 'inline-label' %>
          <%= f.check_box :for_us_collect %>
        </div>
        <div class="col-x15">
          <%= f.label :for_us_undocumented, 'Undocumented Students', class: 'inline-label' %>
          <%= f.check_box :for_us_undocumented %>
          <br>
          <%= f.label :for_us_refugee, 'U.S. Refugee or Asylee', class: 'inline-label' %>
          <%= f.check_box :for_us_refugee %>
          <br>
          <%= f.label :for_us_none, 'No Citizenship Requirement', class: 'inline-label' %>
          <%= f.check_box :for_us_none %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field required">
      <%= f.label :for_financial_need, 'Limited to Students w/ Financial Need' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label 'Yes', class: 'inline-label' %>
          <%= f.radio_button :for_financial_need, true %>
        </div>
        <div class="col-x15">
          <%= f.label 'No', class: 'inline-label' %>
          <%= f.radio_button :for_financial_need, false %>
        </div>
      </div>
    </div>
  </div>

  <div class="row grow">
    <div class="field">
      <%= f.label :financial_options, 'If Yes, Which Documents Are Acceptable Forms of Proof of Financial Need' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label :financial_acceptable_fafsa, 'FAFSA', class: 'inline-label' %>
          <%= f.check_box :financial_acceptable_fafsa %>
          <br>
          <%= f.label :financial_acceptable_tax, 'Tax Forms', class: 'inline-label' %>
          <%= f.check_box :financial_acceptable_tax %>
        </div>
        <div class="col-x15">
          <%= f.label :financial_acceptable_sar, 'SAR Report', class: 'inline-label' %>
          <%= f.check_box :financial_acceptable_sar %>
          <br>
          <%= f.label :financial_acceptable_w2, "Parent(s)' W-2 Form", class: 'inline-label' %>
          <%= f.check_box :financial_acceptable_w2 %>
        </div>
      </div>
    </div>
  </div>

  <div class="row grow">
    <div class="field required">
      <%= f.label :gender, 'Gender' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label :for_female, 'Female', class: 'inline-label' %>
          <%= f.check_box :for_female %>
          <br>
          <%= f.label :for_gender_trans, 'Transgender', class: 'inline-label' %>
          <%= f.check_box :for_gender_trans %>
          <br>
          <%= f.label :for_gender_none, 'No Gender Requirement', class: 'inline-label' %>
          <%= f.check_box :for_gender_none %>
        </div>
        <div class="col-x15">
          <%= f.label :for_male, 'Male', class: 'inline-label' %>
          <%= f.check_box :for_male %>
          <br>
          <%= f.label :for_gender_nonbinary, 'Nonbinary/3rd Gender', class: 'inline-label' %>
          <%= f.check_box :for_gender_nonbinary %>
          <br>
          <%= f.label :for_gender_collect, 'No Gender Requirement, but I want to students to indicate gender for the purpose of data collection', class: 'inline-label' %>
          <%= f.check_box :for_gender_collect %>
        </div>
      </div>
    </div>
  </div>

  <div class="row grow">
    <div class="field required">
      <%= f.label :ethnicity, 'Race/Ethnicity' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label :for_black_people, 'Black/African-American', class: 'inline-label' %>
          <%= f.check_box :for_black_people %>
          <br>
          <%= f.label :for_white_people, 'White/Caucasian', class: 'inline-label' %>
          <%= f.check_box :for_white_people %>
          <br>
          <%= f.label :for_native_people, 'Native American', class: 'inline-label' %>
          <%= f.check_box :for_native_people %>
          <br>
          <%= f.label :for_people_none, 'No Race Requirement', class: 'inline-label' %>
          <%= f.check_box :for_people_none %>
        </div>
        <div class="col-x15">
          <%= f.label :for_asian_people, 'Asian/Pacific Islander', class: 'inline-label' %>
          <%= f.check_box :for_asian_people %>
          <br>
          <%= f.label :for_hispanic_people, 'Hispanic/Latino', class: 'inline-label' %>
          <%= f.check_box :for_hispanic_people %>
          <br>
          <%= f.label :for_people_middle_eastern, 'Middle Eastern', class: 'inline-label' %>
          <%= f.check_box :for_people_middle_eastern %>
          <br>
          <%= f.label :for_people_collect, 'No Race Requirement, but I want students to indicate for the purpose of data collection', class: 'inline-label' %>
          <%= f.check_box :for_people_collect %>
        </div>
      </div>
    </div>
  </div>

  <div class="row grow">
    <div class="field required">
      <%= f.label :degree_reqs, 'Degree/Program Type Sought' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label :for_two_year_program, '2 Year Program', class: 'inline-label' %>
          <%= f.check_box :for_two_year_program %>
          <br>
          <%= f.label :for_program_none, 'No Degree Type Requirement', class: 'inline-label' %>
          <%= f.check_box :for_program_none %>
        </div>
        <div class="col-x15">
          <%= f.label :for_four_year_program, '4 Year Program', class: 'inline-label' %>
          <%= f.check_box :for_four_year_program %>
          <br>
          <%= f.label :for_program_collect, 'No Degree Type Requirement, but I want students to indicate for the purpose of data collection', class: 'inline-label' %>
          <%= f.check_box :for_program_collect %>
        </div>
      </div>
    </div>
  </div>

  <div class="row grow">
    <div class="field">
      <%= f.label :area_of_study_requirements, 'Area of Study Requirements' %>
      <div class="col-container">
        <div class="areas-of-study">
          <% if @scholarship.area_of_study_requirements.empty? %>
            <%= f.fields_for :area_of_study_requirements, AreaOfStudyRequirement.new do |area_of_study_requirement| %>
                <%= render 'area_of_study_requirement_fields', f: area_of_study_requirement, scholarship_form: f, i: 0 %>
            <% end %>
          <% end %>
          <% @scholarship.area_of_study_requirements.each.with_index do |aos, i| %>
            <%= f.fields_for :area_of_study_requirements, aos do |area_of_study_requirement| %>
              <%= render 'area_of_study_requirement_fields', f: area_of_study_requirement, scholarship_form: f, i: i %>
            <% end %>
          <% end %>
        </div>
        <div class="links">
          <div id="add-area-of-study" class="">
            <%= link_to_add_association 'Add another Area of Study Requirement',
                                        f,
                                        :area_of_study_requirements
            %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field required">
      <%= f.label 'Community Service Requirement' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label 'Yes', class: 'inline-label' %>
          <%= f.radio_button :requires_community_service, true %>
        </div>
        <div class="col-x15">
          <%= f.label 'No', class: 'inline-label' %>
          <%= f.radio_button :requires_community_service, false %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :location_limitations, 'If Scholarship is Limited to Students from a Specific Location' %>
      <div class="col-container">
        <% if @scholarship.location_limitations.count > 0 %>
          <% @scholarship.location_limitations.each do |location_limitation| %>
            <%= f.fields_for :location_limitations, location_limitation do |location_limitation_fields| %>
              <%= render 'location_limitation_fields', f: location_limitation_fields %>
            <% end %>
          <% end %>
        <% else %>
          <%= f.fields_for :location_limitations, @scholarship.location_limitations.build do |location_limitation_fields| %>
            <%= render 'location_limitation_fields', f: location_limitation_fields %>
          <% end %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add another location', f, :location_limitations %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field required">
      <%= f.label :faith_requirement, 'Religion' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.select :faith_requirement, Scholarship.faith_requirements.map { |k,v| [k.humanize, k] } %>
        </div>
      </div>
    </div>
  </div>

<% end %>
