<% content_for :form_header do %>
  <p class="form-title">Who is this scholarship intended for?</p>
  <p class="form-subtitle">This helps us determine which students see your scholarship.</p>
  <p class="form-legend">* Required</p>
<% end %>

<%= render layout: 'form' do |f| %>
  <div class="row">
    <div class="field required">
      <%= f.label :school_year, 'School Year' %>
      <div class="col-container" id="sy-requirement">
        <div class="col-x15">
          <%= f.label :for_hs_freshman, 'High School Freshman', class: 'inline-label' %>
          <%= f.check_box :for_hs_freshman %>
          <br>
          <%= f.label :for_hs_junior, 'High School Junior', class: 'inline-label' %>
          <%= f.check_box :for_hs_junior %>
        </div>
        <div class="col-x15">
          <%= f.label :for_hs_sophomore, 'High School Sophomore', class: 'inline-label' %>
          <%= f.check_box :for_hs_sophomore %>
          <br>
          <%= f.label :for_hs_senior, 'High School Senior', class: 'inline-label' %>
          <%= f.check_box :for_hs_senior %>
        </div>
        <div class="col-x15">
          <%= f.label :for_hs_none, 'No School Year Requirement', class: 'inline-label' %>
          <%= f.check_box :for_hs_none %>
          <br>
          <%= f.label :for_hs_collect, 'No School Year Requirement, but I want students to indicate for the purpose of data collection', class: 'inline-label' %>
          <%= f.check_box :for_hs_collect %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field required">
      <%= f.label :for_us_citizen, 'U.S. Citizenship Status' %>
      <div class="col-container">
        <div class="col">
          <div class="half-col">
            <%= f.label 'Yes', class: 'inline-label' %>
            <%= f.radio_button :for_us_citizen, true %>
          </div>
          <div class="half-col">
            <%= f.label 'No', class: 'inline-label' %>
            <%= f.radio_button :for_us_citizen, false %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label 'Maximum Family Income' %>
      <div class="col-container">
        <div class="col">
          <%= f.number_field :maximum_family_income, placeholder: "$ " %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label 'Gender Requirement' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label 'Male', class: 'inline-label' %>
          <%= f.check_box :for_male %>
        </div>
        <div class="col-x15">
          <%= f.label 'Female', class: 'inline-label' %>
          <%= f.check_box :for_female %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label 'Race/Ethnicity Requirements' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label :for_black_people, 'Black/African-American', class: 'inline-label' %>
          <%= f.check_box :for_black_people %>
          <br>
          <%= f.label :for_white_people, 'White/Caucasian', class: 'inline-label' %>
          <%= f.check_box :for_white_people %>
          <br>
          <%= f.label :for_native_people, 'Native American', class: 'inline-label' %>
          <%= f.check_box :for_native_people %>
        </div>
        <div class="col-x15" id="race-ethnicity-requirements">
          <%= f.label :for_asian_people, 'Asian/Pacific Islander', class: 'inline-label' %>
          <%= f.check_box :for_asian_people %>
          <br>
          <%= f.label :for_hispanic_people, 'Hispanic/Latino', class: 'inline-label' %>
          <%= f.check_box :for_hispanic_people %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label 'Degree/Program Type Sought' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.label :for_two_year_program, '2 Year Program', class: 'inline-label' %>
          <%= f.check_box :for_two_year_program %>
        </div>
        <div class="col-x15">
          <%= f.label :for_four_year_program, '4 Year Program', class: 'inline-label' %>
          <%= f.check_box :for_four_year_program %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :faith_requirement, 'If Faith-Based Scholarship, Which Faith?' %>
      <div class="col-container">
        <div class="col-x15">
          <%= f.select :faith_requirement, Scholarship.faith_requirements.map { |k,v| [k.humanize, k] } %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :area_of_study_requirements, 'Area of Study Requirements' %>
      <div class="col-container">
        <div class="areas-of-study">
          <%= f.fields_for :area_of_study_requirements, AreaOfStudyRequirement.new do |area_of_study_requirement| %>
              <%= render 'area_of_study_requirement_fields', f: area_of_study_requirement, scholarship_form: f, is_first_association: true %>
          <% end %>
          <% @scholarship.area_of_study_requirements.each do |aos| %>
            <%= f.fields_for :area_of_study_requirements, aos do |area_of_study_requirement| %>
              <%= render 'area_of_study_requirement_fields', f: area_of_study_requirement, scholarship_form: f %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label 'Community Service Requirement' %>
      <div class="col-container">
        <div class="col">
          <div class="half-col">
            <%= f.label 'Yes', class: 'inline-label' %>
            <%= f.radio_button :requires_community_service, true %>
          </div>
          <div class="half-col">
            <%= f.label 'No', class: 'inline-label' %>
            <%= f.radio_button :requires_community_service, false %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :minimum_community_service, "Minimum Service Hours" %>
      <div class="col-container">
        <%= f.number_field :minimum_community_service, placeholder: 'e.g., 100' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :location_limitations, 'Locations Scholarship is Limited To?' %>
      <div class="col-container">
        <% if @scholarship.location_limitations.count > 0 %>
          <% @scholarship.location_limitations.each do |location_limitation| %>
            <%= f.fields_for :location_limitations, location_limitation do |location_limitation_fields| %>
              <%= render 'location_limitation_fields', f: location_limitation_fields %>
            <% end %>
          <% end %>
        <% else %>
          <%= f.fields_for :location_limitations, @scholarship.location_limitations.build do |location_limitation_fields| %>
            <%= render 'location_limitation_fields', f: location_limitation_fields %>
          <% end %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add another location', f, :location_limitations %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field required">
      <%= f.label :eligibility %>
      <div class="col-container">
        <%= f.text_area :eligibility, required: true, class: "full", placeholder: 'Please enter your scholarship eligibility in written form.' %>
        <div class="row">
          <a href="">See Sample Eligibility Section</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :note_from_provider, 'Note to Your Applicants' %>
      <div class="col-container">
        <%= f.text_area :note_from_provider, class: "full", placeholder: 'Optionally, enter a personalized note to your applicants. Some providers cover the application process, ideal candidates, or add a simple note of encouragement.' %>
        <div class="row">
          <a href="">See Sample Note to Applicants</a>
        </div>
      </div>
    </div>
  </div>

<% end %>
