<% content_for :form_header do %>
  <p class="form-title">Essay Requirements</p>
  <p class="form-legend">* Required</p>
<% end %>

<%= render layout: 'form' do |f| %>
  <div class="row">
    <div class="field">
      <%= label_tag 'Number of Essays' %>
      <div class="col-container">
        <div class="col">
          <%= select_tag :essay, options_for_select([1, 2, 3, 4], 1), id: "num-essays-field", autofocus: true, onchange: 'duplicateEssayFields()' %>
        </div>
      </div>
    </div>
  </div>

  <div id="essays">
    <div class="essay-fields">
      <%= f.fields_for :essay_requirements, @essay_req = @scholarship.essay_requirements.build do |essay_fields| %>
        <%= render 'essay_requirement_fields', f: essay_fields, essay_req: @essay_req %>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function duplicateEssayFields() {
    var numEssays = parseInt(
      $('#num-essays-field :selected').val()
    );
    var $essayFields = $('.essay-fields');

    // Check if >= current # of fields
    if (numEssays > $essayFields.length) {
      for (var i = numEssays; i <= $essayFields.length; i++) {
        // can check for fields to reattach here
        $essayFields
          .last()
          .clone()
          // consider modifying essay # here
          .appendTo('#essays');
      }
    } else if (numEssays < $essayFields.length) {
      for (var i = $essayFields.length; i > numEssays; i--) {
        // can store removed element in toReattach array here
        $essayFields
          .last()
          .remove();
      }
    }

    return false;
  }
</script>
