<div class="auth-root">

  <div class="signup-root">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="header">
      </div>

      <div class="row">
        <div class="field">
          <%= f.text_field :first_name, :autofocus => true, :placeholder => "First Name", class: "firstname" %>
        </div>

        <div class="field">
          <%= f.text_field :last_name, :placeholder => "Last Name", class: "lastname" %>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <%= f.email_field :email, :placeholder => "Enter your email", class: "full" %>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password #{@minimum_password_length ? '(' + @minimum_password_length.to_s + ' character minimum)' : ''}", class: "full" %>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "full" %>
        </div>
      </div>

      <%= f.hidden_field :role_id, value: Role.provider.id %>

      <div class="caption">
      </div>

      <div class="btns">
        <div class="notify">
          <%= devise_error_messages! %>
        </div>

        <%= f.submit "Sign up", class: "btn submit" %>
        <%= link_to "Have an account?", new_provider_session_path, class: "btn switch" %>
      </div>

    <% end %>

  </div>
</div>
