<div class="navigation">
  <div class="fill root">
    <div class="brand">
      <a href="<%= root_path %>">
        <%= react_component('Logo', props: {
                                      className: 'navigation logo',
                                      style: { width: '106px', height: '30px' }
        }) %>
      </a>
    </div>

    <div class="dropdown">
      <ul class="links">
        <% if provider_signed_in? %>
          <li class="link">
            <%= link_to('Edit registration', edit_provider_registration_path) %>
          </li>
        <% else %>
          <li class="link">
            <%= link_to('Log In', new_provider_session_path)  %>
          </li>
        <% end %>

        <% if provider_signed_in? %>
          <li class="link">
            <%= link_to('Log Out', destroy_provider_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li class="link">
            <%= link_to('Register', new_provider_registration_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
