<div id="edit-account-info" class="page-container">
  <p class="header">
    Account Info
  </p>

  <div class="form-container">
    <div class="form-header">
      <p class="form-title">Tell Us About You!</p>
      <p class="form-legend">* Required</p>
    </div>

    <div class="form-body">
      <%= form_for @user, as: :user, url: providers_account_info_path, method: :patch do |f| %>
        <div class="row">
          <div class="field required">
            <%= f.label :first_name, 'First Name' %>
            <div class="col-container">
              <%= f.text_field :first_name, required: true, class: "" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label :last_name, 'Last Name' %>
            <div class="col-container">
              <%= f.text_field :last_name, required: true, class: "" %>
            </div>
          </div>
        </div>

        <%= render partial: 'account_info_fields', locals: { f: f } %>

        <div class="actions">
          <%= f.submit "Update Account Info", class: "btn submit-btn" %>
        </div>
      <% end %>
    </div>

    <div class="form-header">
      <p class="form-title">Update Password?</p>
      <p class="form-legend">* Required</p>
    </div>
      <%= form_for(@user, as: :user, url: providers_account_password_path, html: { method: :patch }) do |f| %>
        <% if flash[:password_success] %>
          <div class="flash notice">
            <%= flash[:password_success] %>
          </div>
        <% elsif flash[:password_error] %>
          <div class="flash alert">
            <%= flash[:password_error] %>
          </div>
        <% end %>
        <div class="row">
          <div class="field required">
            <%= f.label :current_password, 'Current Password' %>
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label :password, 'Enter New Password' %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label :password_confirmation, 'Confirm New Password' %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Update Password", class: "btn submit-btn" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  function insertFilepickerImg(event) {
    var $filepickerImg = $('#filepicker-img-preview');
    $filepickerImg.toggleClass('fade');
    $filepickerImg.attr('src', event.fpfile.url);
    $filepickerImg.toggleClass('fade');
  }
</script>

