<div class="row">
  <div class="field required">
    <%= f.label :name, 'Name of Scholarship Organization' %>
    <%= f.text_field :name, required: true, class: "full" %>
  </div>
</div>

<div class="row" id="photo-row">
  <div class="field">
    <%= f.label :logo_url, 'Scholarship Logo' %>
    <div class="col-container">
      <div class="col">
        <div class="filepicker-wrapper">
          <input id="filepicker-input"
                class="upload-btn"
                data-fp-button-text="Choose File"
                data-fp-apikey="Aw4WfTTq8QxmplkGIzrYgz"
                data-fp-crop-ratio="1/1"
                data-fp-crop-force="true"
                data-fp-openTo="COMPUTER"
                data-fp-multiple="false"
                mimetype="image/*"
                type="filepicker"
                name="organization[logo_url]"
                value="<%= @organization.try(:logo_url) %>"
                onchange="insertFilepickerImg(event)"
                style="display: none;"
                >
        </div>
      </div>
      <div class="col">
        <div id="filepicker-img-overlay">
          <% if @organization.try(:logo_url) %>
            <img
              id="filepicker-img-preview"
              src="<%= @organization.try(:logo_url) %>"
              height="100"
              width="100"
            />
          <% else %>
            <img
              id="filepicker-img-preview"
              height="100"
              width="100"
            />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="field required">
    <%= f.label :phone, 'Phone Number' %>
    <%= f.telephone_field :phone, required: true, class: "word" %>
  </div>
</div>

<div class="row">
  <div class="field required">
    <%= f.label :website, 'Website' %>
    <%= f.text_field :website, required: true, class: "word" %>
  </div>
</div>

<div class="row">
  <div class="field required">
    <%= f.label :support_email, 'Email for Applicant Questions' %>
    <%= f.text_field :support_email, required: true, class: "word" %>
  </div>
</div>

<div class="row">
  <div class="field required">
    <%= f.label :address, 'Address' %>
    <%= f.text_field :address, required: true, class: "word" %>
  </div>
</div>

<div class="row">
  <div class="field required">
    <%= f.label :location, 'Organization Location' %>
    <%= f.text_field :city, placeholder: "City", required: true, class: "word" %>
    <%= f.text_field :state, placeholder: "State", required: true, class: "word" %>
  </div>
</div>

<div class="btns">
  <%= f.submit "Save Organization!", class: "btn submit" %>
</div>

<script type="text/javascript">
  // Make Filepicker widget play nice with Turbolinks
  function setupFilepicker() {
    var $filepickerInputs = $('#filepicker-input');
    for (var i = 0; i < $filepickerInputs.length; i++) {
      var $uploadBtns = $('button.upload-btn');
      if ($uploadBtns.length <= i) {
        filepicker.constructWidget($filepickerInputs[i]);
      }
    }
  }

  function insertFilepickerImg(event) {
    var $filepickerImg = $('#filepicker-img-preview');
    // fade out
    $filepickerImg.toggleClass('fade');
    // add new image
    $filepickerImg.attr('src', event.fpfile.url);
    // fade in
    $filepickerImg.toggleClass('fade');
  }

  // TODO: Improve. Original filepicker widget needs to initialize before we can check
  //       for presence, so use a timeout. Manage the widget initialization differently
  //       so we can control mounting, then remount for turbolinks.
  //  The correct way to solve this may be to remove turbolinks, or initialize the widget
  //  manually, so we can trigger it and not deal with two. Look into that.
  // Try: https://www.filepicker.com/docs/file-ingestion/javascript-api/pick?v=v2.
  // See: filepicker.pickAndStore()
  $(document).on('turbolinks:load', function () { setTimeout(setupFilepicker, 5000) });
</script>
