<div class="create-org-page">
  <p class="header">
    Create Scholarship Organization Account
  </p>

  <div class="new-org-form-container">
    <div class="form-header">
      <p class="form-title">General Scholarship Details</p>
      <p class="form-legend">* Required</p>
    </div>

    <div class="form-body">
      <%= form_for :organization, url: providers_organizations_path do |f| %>
        <div class="row">
          <div class="field required">
            <%= f.label 'Name of Scholarship Organization' %>
            <%= f.text_field :name, required: true, class: "full" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label 'Phone Number' %>
            <%= f.telephone_field :phone, required: true, class: "word" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label 'Website' %>
            <%= f.text_field :website, required: true, class: "word" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label 'Address' %>
            <%= f.text_field :address, required: true, class: "word" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label 'Organization Location' %>
            <%= f.text_field :city, placeholder: "City", required: true, class: "word" %>
            <%= f.text_field :state, placeholder: "State", required: true, class: "word" %>
          </div>
        </div>

        <div class="btns">
          <%= f.submit "Save Organization!", class: "btn submit" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
