<div class="create-org-page page-container">
  <p class="header">
    Create Scholarship Organization
  </p>

  <div class="form-container">
    <div class="form-header">
      <p class="form-title">General Organization Details</p>
      <p class="form-legend">* Required</p>
    </div>

    <div class="form-body">
      <%= form_for :organization, url: providers_organizations_path do |f| %>
        <div class="row">
          <div class="field required">
            <%= f.label :name, 'Name of Scholarship Organization' %>
            <%= f.text_field :name, required: true, class: "full" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label :phone, 'Phone Number' %>
            <%= f.telephone_field :phone, required: true, class: "word" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label :website, 'Website' %>
            <%= f.text_field :website, required: true, class: "word" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label :support_email, 'Email for Applicant Questions' %>
            <%= f.text_field :support_email, required: true, class: "word" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label :address, 'Address' %>
            <%= f.text_field :address, required: true, class: "word" %>
          </div>
        </div>

        <div class="row">
          <div class="field required">
            <%= f.label :location, 'Organization Location' %>
            <%= f.text_field :city, placeholder: "City", required: true, class: "word" %>
            <%= f.text_field :state, placeholder: "State", required: true, class: "word" %>
          </div>
        </div>

        <div class="btns">
          <%= f.submit "Save Organization!", class: "btn submit" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
