Create a scholarship
<%= form_for :scholarship, url: new_scholarship_scholarship_new_path do |f| %>
  <h2> General Scholarship Details </h2>
  <p>* Required</p>

  <div>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :award_amount %><br>
      <%= f.number_field :award_amount %>
    </p>
    <p>
      <%= f.label :gpa %><br>
      <%= f.number_field :gpa, step: 0.01%>
    </p>
    <p>
      <%= f.label :minimum_sat_score %><br>
      <%= f.number_field :minimum_sat_score %>
    </p>
    <p>
      <%= f.label :minimum_act_score %><br>
      <%= f.number_field :minimum_act_score %>
    </p>
    <p>
      <%= f.check_box :generic_recommendation %>
      <%= f.label :generic_recommendation, "Allow generic recommendations" %>
    </p>
  </div>
  <div>
    <h2> Essay Requirements </h2>
    <p>
      Placeholder
    </p>
  </div>
  <div>
    <h2> Who is this scholarship intended for? </h2>
    <p>
      This helps us determine which students see your scholarship
    </p>
    <p>
      <%= f.check_box :for_hs_freshman %>
      <%= f.label :for_hs_freshman, "Highschool freshman" %>
      <%= f.check_box :for_hs_sophomore %>
      <%= f.label :for_hs_sophomore, "Highschool sophomore" %>
      <br />
      <%= f.check_box :for_hs_junior %>
      <%= f.label :for_hs_junior, "Highschool junior" %>
      <%= f.check_box :for_hs_senior %>
      <%= f.label :for_hs_senior, "Highschool senior" %><br>
    </p>
    <p>
      <%= f.check_box :for_us_citizen %>
      <%= f.label :for_us_citizen, "US Citizenship Required" %><br>
    </p>
    <p>
      <%= f.check_box :for_female %>
      <%= f.label :for_female, "Female" %>
      <%= f.check_box :for_male %>
      <%= f.label :for_male, "Male" %>
    </p>
    <h4> Race/Ethnicity Requirements</h4>
    <p>
      <%= f.check_box :for_black_people %>
      <%= f.label :for_black_people, "Black/African American" %>
      <%= f.check_box :for_white_people %>
      <%= f.label :for_white_people, "White/Caucasian" %>
      <br />
      <%= f.check_box :for_asian_people %>
      <%= f.label :for_asian_people, "Asian/Pacific Islander" %>
      <%= f.check_box :for_hispanic_people %>
      <%= f.label :for_hispanic_people, "Hispanic/Latino" %>
      <br />
      <%= f.check_box :for_native_people %>
      <%= f.label :for_native_people, "Native American" %>
    </p>
    <h4> Area of study requirements </h4>
    <p>
      Placeholder
    </p>
    <p>
      <%= f.check_box :requires_community_service %>
      <%= f.label :requires_community_service, "Community serivce requirement" %><br>
    </p>
    <h4> Location limitations </h4>
    <p>
      Placeholder
    </p>
  </div>
  <h2>Supplemental Requirements</h2>
  <p>
    Please list any supplemental materials and documents you require students to submit
  </p>
  <p>
    Placeholder
  </p>
  <p>
    <%= f.submit "Post scholarship" %>
  </p>

<% end %>
