<% content_for :navbar, render('shared/auth_navbar') %>

<div class="auth-root">

  <div class="password-root">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <div class="header">
      </div>

      <div class="notify">
        <%= devise_error_messages? ? devise_error_flash : alert %>
      </div>

      <%= f.hidden_field :reset_password_token %>

      <div class="row">
        <div class="field">
          <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "Password #{@minimum_password_length ? '(' + @minimum_password_length.to_s + ' character minimum)' : ''}", class: "full" %>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "full" %>
        </div>
      </div>

      <%= f.hidden_field :role, value: :provider %>

      <div class="caption">
      </div>

      <div class="btns">
        <%= f.submit "Change Password!", class: "btn submit" %>
      </div>

    <% end %>

  </div>
</div>
